<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Link to bootstrap and fontawesome scripts and stylessheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    
    
    <!--Link to custom scripts and stylesheets-->
    <script src="scripts/main.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <title>Simple Chatbot UI</title>
</head>
<body>
    <div class="container">
        <div id="simple-chat" class="card bg-light">
            <div class="simple-wrapper">
                <div class="simple-top bg-white">
                    <p class="pt-3 pl-3">Simple Chatbot UI</>
                </div>
                <div class="simple-content"></div>
                <div class="simple-bottom bg-white">
                    <input type="text" id="simple-chat-val" placeholder="Can I help you?" class="bg-light mx-4 mt-2 py-2 px-2">
                    <i id="send-chat" class="fas fa-arrow-alt-circle-up ml-auto"></i>
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>